.key{color: white;
    margin-bottom: 5px;
    background-color: grey;
    text-align: left;
    border-radius: 10px;
    width:fit-content;
    color: rgb(212, 210, 210);
    padding:0vh 2vh 0vh 2vh;
font-size: large;}  
